SMTP_SERVER="stmp"
SMTP_PORT="stmp port"
EMAIL="email"
EMAIL_PASSWORD="password"
DATABASE_HOST="database container name"
DATABASE_PORT="database port"
DATABASE_NAME="database name"
DATABASE_USER="username"
DATABASE_PASSWORD="password"